{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="hero-wrap" style="background-image: url('../../static/images/main.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Doing Nothing is Not An Option
          of Our Life</h1>

        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="../../static/images/intro.mp4"
            class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch
            Video</a></p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-counter ftco-intro" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <span>Served Over</span>
            <strong class="number" data-number="3">3</strong>
            <span>Schools in 2 states of india.</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Donate Money</h3>
            <p>Nurture young minds, transform futures! Join us in giving every child the gift of education</p>
            <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Be a Volunteer</h3>
            <p>Make a difference, lend a hand! Volunteer with us to brighten young minds and change lives.</p>
            <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Be A Volunteer</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Make Donation</h3>
            <p>Empower dreams with your generosity! Your donation today paves the path for a brighter tomorrow.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Become A Volunteer</h3>
            <p>Join our mission, ignite change! Become a volunteer and be the guiding light in a child's journey to
              success.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Sponsorship</h3>
            <p>Fuel innovation, shape futures! Partner with us through sponsorship to unlock limitless possibilities for
              young minds.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Investors</h2>
        <p>Turning investments into impactful change, one donation at a time – because together, we're not just funding
          projects, we're igniting possibilities.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 d-flex mb-sm-12 ftco-animate" style="justify-content: center;">
        <div class="staff">
          <div class="d-flex mb-4">
            <div class="img" style="background-image: url(../../static/images/person_1.jpg);"></div>
            <div class="info ml-4">
              <h3><a href="teacher-single.html">Lorem person</a></h3>
              <span class="position">Donated Just now</span>
              <div class="text">
                <p>Donated <span>$300</span> for <a href="#">Children Needs Education</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery">
  <div class="d-md-flex">
    <a href="../../static/images/pic1.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic1.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic2.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic2.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic3.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic3.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic1.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic1.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
  </div>
  <div class="d-md-flex">
    <a href="../../static/images/pic1.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic1.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic2.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic2.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic3.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic3.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
    <a href="../../static/images/pic1.jpg"
      class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
      style="background-image: url(../../static/images/pic1.jpg);">
      <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search"></span>
      </div>
    </a>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Recent from blog</h2>
        <p>Empowering dreams, one blog at a time: Join us in illuminating minds and breaking barriers for the children
          of the slums</p>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic2.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">April 10, 2024</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mt-3"><a href="#">Education session in U.P.</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsum cum sit officia natus tempore velit
              ea odit omnis sed atque quam saepe eaque fuga, ducimus quas reprehenderit distinctio nostrum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic2.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">April 10, 2024</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mt-3"><a href="#">Education session in U.P.</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsum cum sit officia natus tempore velit
              ea odit omnis sed atque quam saepe eaque fuga, ducimus quas reprehenderit distinctio nostrum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic2.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">April 10, 2024</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mt-3"><a href="#">Education session in U.P.</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsum cum sit officia natus tempore velit
              ea odit omnis sed atque quam saepe eaque fuga, ducimus quas reprehenderit distinctio nostrum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Our Latest Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic3.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Sep. 10, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mb-4"><a href="#">World Wide Education</a></h3>
            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i
                  class="icon-map-o"></i> Venue Main Campus</span></p>
            <p>Loicing elit. Harum officiis perferendis istone reiciendis dolorum est!.</p>
            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic3.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Sep. 10, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mb-4"><a href="#">World Wide Education</a></h3>
            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i
                  class="icon-map-o"></i> Venue Main Campus</span></p>
            <p>Loicing elit. Harum officiis perferendis istone reiciendis dolorum est!.</p>
            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20" style="background-image: url('../../static/images/pic3.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Sep. 10, 2018</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mb-4"><a href="#">World Wide Education</a></h3>
            <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i
                  class="icon-map-o"></i> Venue Main Campus</span></p>
            <p>Loicing elit. Harum officiis perferendis istone reiciendis dolorum est!.</p>
            <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(i../../static/mages/bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-2 align-self-stretch" style="background-image: url(../../static/images/pic1.jpg);"></div>
      </div>
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="mb-3">Be a volunteer</h3>
        <form action="#" class="volunter-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}